body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */

	font-size:90%;
	font-family: Segoe UI,Arial,sans-serif;
	background: url("/images/bg.jpg") repeat scroll 0 0 transparent;
}

a img {
	border: none;
}

a:hover {
	background-color: #23BFD7;
	border-radius: 10px;
	box-shadow: 5px 5px 6px -4px black;
}

img {
	box-shadow: 5px 5px 6px -4px black;
}

.copyright {
	background-image: url('/images/logo/copyright.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
}

#header {
	clear:both;
	float:left;
	width:100%;
	background-image: '/images/regional_header.png';
}

#language_icons {
	float:right;
	margin-right:7px;
	margin-top: 6px;
	padding: 3px 7px 3px 7px;
}

#language_icons a {
	display:inline;
	margin-bottom: 5px;
	text-decoration: none;
}

#main {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	bottom: 2em;
	height: 84%;
	position: absolute;
	top: 98px;
	right: 10px;
	width: 100%;
	overflow: auto;
	padding-left: 15px;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
}

.threecol .colmid {
	right:25%;			/* width of the right column */
}

.threecol .colleft {
	right:50%;			/* width of the middle column */
}

.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}

.threecol .col2 {
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	box-shadow: 5px 0 6px -6px black;
}

.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	box-shadow: -5px 0 6px -6px black;
	padding-left: 20px;
}

.rightmenu {
}

.rightmenu .colleft {
	right:30%;			/* right column width */
}

.rightmenu .col1 {
	width:66%;			/* left column content width (left column width minus left and right padding) */
	left:31%;			/* (right column width) plus (left column left padding) */
}

.rightmenu .col2 {
	width:26%;			/* right column content width (right column width minus left and right padding) */
	left:35%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}

#map {
	min-height: 300px;
	min-width: 315px;
	max-height: 965px;
	/*width: 820px;*/
	width: 100%;
	height: 560px;
}

.caption {
	width: 90%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	background-color: #4b514b;
	color: #f0fcc8;
}

img.head_img {
	float: left;
	padding: 20px;
	width: 80%;
}

.language_menu {
	float: right;
}

.routeControls, .searchControls {
	text-align: center;
}

.link {
	margin: 10px;
}

#menu {
	float: left;
	padding: 10px 25px 10px 25px;
	background-color: #FCECA8;
	margin-bottom: 10px;
	margin-top: 10px;
	box-shadow: 5px 5px 6px -4px black;
}

#menu a {
	padding: 0px 10px 0px 10px;
}

#menu a hover {
	padding: 10px 20px 0px 10px;
}

ul.lang {
	list-style: none;
	float: right;
	margin-right: 0;
	padding-right: 0;
}

.banner {
	display: block;
	margin-left: 50px;
}

.searchResultItem {
	border: none;
	padding: 5px;
}

.searchResultItem:hover, .momoClass:hover, ul.menu li:hover, ul.lang li:hover {
	border: medium none !important;
	border-radius: 8px 8px 8px 8px;
	background-color: #FBD840;
	cursor: pointer;
}

.commentari {
	clear: both;
	margin: 0;
	padding: 20px 0;
	text-align: left;
}

.commentari_img {
	display: none;
}

.commentari_img img {
	width: 150px;
	height: 150px;
}

.commentari_text {
	float: left;
	font-size: 12px;
	margin:  0;
	padding: 0;
	text-align: left;
}

#top {
	width: 100%;
	clear: both;
}