<!DOCTYPE html>
%html
	%head
		%title Autodor
		= stylesheet_link_tag 'regional'
		= stylesheet_link_tag 'map'
		= stylesheet_link_tag 'sunny/sunny'
		= stylesheet_link_tag 'contextmenu/jquery-contextmenu'
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'jquery-ui'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'jquery.ui.datepicker-ru'
		= javascript_include_tag 'jquery.ui.datepicker-uk'
		= javascript_include_tag 'http://tile.cloudmade.com/wml/latest/web-maps-lite.js'
		= javascript_include_tag 'http://api.webcams.travel/jsapi?devid=0be425afeaead9f0893c0bae527be9a0'
		= javascript_include_tag 'jquery-contextmenu'
		= javascript_include_tag 'cities'
		= javascript_include_tag 'application'
		= javascript_include_tag 'patchy'
		= javascript_include_tag 'http://gostats.com/js/counter.js'
		= csrf_meta_tag
	%body
		#header
			=image_tag "mykolaiv-logo.jpg", :alt => "Autodor Mykolaiv?"
			
		#top
			#menu
				%a{ :href => "/" }= t('menu.main')
				%a{ :href => "/map" }= t('menu.map')
				%a{ :href => "/page/notify" }= t('menu.notify')
				%a{ :href => "/page/about" }= t('menu.about')
				%a{ :href => "/page/contact" }= t('menu.contacts')

			#language_icons
				%a{ :href => "?locale=en" }
					=image_tag "flags/en.png"
				%a{ :href => "?locale=uk" }
					=image_tag "flags/uk.png"
				%a{ :href => "?locale=ru" }
					=image_tag "flags/ru.png"


		.colmask.rightmenu
			.colleft
				=yield
